<h1>{{title}}</h1>
<form method="POST">
  <fieldset>
    {{! input name and id must match field name in model class }}
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{project.name}}" required />
  </fieldset>
  <fieldset>
    <label for="dueDate">Due Date</label>
    <input type="date" name="dueDate" id="dueDate" value="{{toShortDate project.dueDate}}" required />
  </fieldset>
  <fieldset>
    <label for="course">Course</label>
    <input type="text" name="course" id="course" value="{{project.course}}" required />
  </fieldset>
  <fieldset>
    <label for="status">Status</label>
    <select name="status" id="status">
      {{!-- <option value="TO DO">TO DO</option>
      <option value="IN PROGRESS">IN PROGRESS</option>
      <option value="DONE">DONE</option> --}}
      {{createOptionElement "TO DO" project.status}}
      {{createOptionElement "IN PROGRESS" project.status}}
      {{createOptionElement "DONE" project.status}}
    </select>
  </fieldset>
  {{! Add button to trigger the POST event }}
  <button class="offset-3 btn btn-primary">Save</button>
</form>