<h1>{{ title }}</h1>
<form method="post">
    <fieldset>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required value="{{project.name}}">
    </fieldset>
    <fieldset>
        <label for="dueDate">Due Date:</label>
        {{!-- Syntax: functionName parameters ... --}}
        <input type="date" name="dueDate" id="dueDate" value="{{toShortDate project.dueDate}}">
    </fieldset>
    <fieldset>
        <label for="course">Course: </label>
        <select name="course" id="course">
            {{#each courses}}
                {{!-- <option>{{ this.name </option> --}}
                {{!-- use ../ to navigate out of the for loop to get access to project variable --}}
                {{ createOptionElement this.name ../project.course }}
            {{/each}}
        </select>
    </fieldset>
    <fieldset>
        <label for="status">Status: </label>
        <select name="status" id="status">
            {{!-- <option>TO DO</option>
            <option>IN PROGRESS</option>
            <option>DONE</option> --}}
            {{ createOptionElement "TO DO" project.status}}
            {{ createOptionElement "IN PROGRESS" project.status}}
            {{ createOptionElement "DONE" project.status}}
        </select>
    </fieldset>
    <button class="btn btn-primary">Save</button>
</form>