<h1>{{title}}</h1>
<a href="/projects/add" class="btn btn-info">Add a project</a>
{{! TABLE TO SHOW ALL PROJECTS }}
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    {{! Retrieve all projects and loop }}
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        {{! UPDATE and DELETE buttons }}
        <td>
          {{! MongoDB generates ids automatically for each document as a field named _id }}
          <a href="/projects/edit/{{this._id}}" class="btn btn-info">Update</a>
          <a
            href="/projects/delete/{{this._id}}"
            class="btn btn-danger"
            onclick="return confirmDeletion()"
          >Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>