{{!-- Form for adding Projects --}}
<h1>{{title}}</h1>
{{!-- Since this is info that will travel back to the server we must include a form element --}}
{{!-- this info is available in the req.body object --}}
<form method="POST">
    <fieldset>
        <label for="name" class="col-2">Name: </label>
        <input name="name" id="name" required value="{{project.name}}" />
    </fieldset>
    <fieldset>
        <label for="dueDate" class="col-2">DueDate: </label>
        <input name="dueDate" id="dueDate" required type="date" value="{{project.dueDate}}" />
    </fieldset>
    <fieldset>
        <label for="course" class="col-2">Course: </label>
        {{!-- <input name="course" id="course" required/> --}}
        <select name="course" id="course">
            {{!-- <option>JS FRAMEWORKS</option>
            <option selected>PHP</option>
            <option>ASP.NET</option> --}}
            {{#each courses}}
                {{!-- <option>this.name</option> --}}
                {{createOptionElement this.name ../project.course}}
            {{/each}}
        </select>
    </fieldset>
    {{!-- Dropdown for Status --}}
    <fieldset>
        <label for="status" class="col-2">Status: </label>
        <select name="status" id="status">
            {{!-- <option>TO DO</option>
            <option>IN PROGRESS</option>
            <option>DONE</option> --}}
            {{createOptionElement "TO DO" project.status}}
            {{createOptionElement "IN PROGRESS" project.status}}
            {{createOptionElement "DONE" project.status}}
        </select>        
    </fieldset>
    {{!-- Add a button inside the form to trigger a post back call --}}
    <button class="offset-3 btn btn-primary">Save</button>
</form>