<h1>{{title}}</h1>
{{! CRUD Functionality }}
<a href="/projects/add" class="btn btn-info">Add a new Project</a>
{{! Table to view all projects in db }}
<table>
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    {{! Retrieve all projects and loop }}
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        <td>
          <a href="/projects/edit/{{this._id}}" class="btn btn-primary">Edit</a>
          <a href="/projects/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion()">Delete</a>          
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>