<h1>{{title}}</h1>
{{! CRUD Functionality }}
{{! CREATE Button }}
{{#if user}}
<a href="/projects/add" class="btn btn-primary">Add a new project</a>
{{/if}}
{{! READ Show table to view all projects in the DB }}
<table class="table table-hover table-striped">
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{toShortDate this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        {{! UPDATE and DELETE buttons }}
        <td>
          {{!-- Use ../ to navigate one scope level up into global scope --}}
          {{#if ../user}}
          <a href="/projects/edit/{{this._id}}" class="btn btn-info">Update</a>
          &nbsp;
          <a
            href="/projects/delete/{{this._id}}"
            class="btn btn-danger"
            onclick="return confirmDeletion()"
          >Delete</a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>