<h1>{{title}}</h1>
{{!-- add link for navigation --}}
<a href="/projects/add">Add a new Project</a>
{{!-- show data --}}
<table>
    <thead>
        <td>Name</td>
        <td>Due Date</td>
        <td>Course</td>
        <td>Status</td>
        <td></td>
    </thead>
    {{#each dataset}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{toShortDate this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        <td>
            {{!-- Use a handlebars template --}}
            <a href="/projects/edit/{{this._id}}" 
                class="btn btn-primary">Edit</a>
            <a href="/projects/delete/{{this._id}}" 
                class="btn btn-danger"
                onclick="return confirmDeletion();">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
