<h1>{{title}}</h1>
{{! CRUD Functionality }}
{{#if user}}
<a href="/projects/add">Add a new project</a>
{{/if}}
{{! Table to view all projects in db }}
<table>
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    {{! Retrieve all projects and loop }}
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        {{!-- When inside of a loop, you need to navigate out of it using '../' --}}
        {{#if ../user}}
            <td><a href="/projects/edit/{{this._id}}" 
              class="btn btn-primary">Edit</a>
                <a href="/projects/delete/{{this._id}}" 
              class="btn btn-danger"
                onclick="return confirmDeletion();">Delete</a></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>