<h1>
  {{title}}
</h1>
{{!-- Add links to CRUD operations --}}
<a href="/projects/add">Add a new project</a>

{{!-- To Show data --}}
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
  </thead>
  {{#each dataset}}
  <tr>
    <td>{{this.name}}</Td>
    <td>{{this.dueDate}}</Td>
    <td>{{this.course}}</Td>
    <td>{{this.status}}</Td>
  </tr>
  {{/each}}
</table>