<h1>{{title}}</h1>
{{! CRUD Functionality }}
{{! CREATE Button }}
<a href="/projects/add" class="btn btn-primary">Add a new project</a>
{{! READ Show table to view all projects in the DB }}
<table class="table table-hover table-striped">
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        {{! TODO: Add DELETE and UPDATE buttons inside the table }}
      </tr>
    {{/each}}
  </tbody>
</table>