<h1>{{title}}</h1>
{{! CRUD Functionality }}
{{! CREATE button }}
<a href="/projects/add" class="btn btn-primary">Add a New Project</a>
{{! READ show a table to view all projects }}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Due Date</th>
      <th>Course</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{! Use a for loop to iterate through projects }}
    {{#each projects}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.dueDate}}</td>
        <td>{{this.course}}</td>
        <td>{{this.status}}</td>
        {{! TODO: Update and Delete buttons }}
      </tr>
    {{/each}}
  </tbody>
</table>