<h1>
  {{title}}
</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required value="{{project.name}}" />
  </fieldset>
  <fieldset>
    <label for="dueDate" class="col-2">
      Due Date:
    </label>
    {{!-- Use hbs helper function to format date stored in the database accordingly --}}
    <input name="dueDate" id="dueDate" required type="date" value="{{toShortDate project.dueDate}}" />
  </fieldset>
  <fieldset>
    <label for="course" class="col-2">
      Course:
    </label>
    {{! <input name="course" id="course" required /> }}
    <select name="course" id="course">
      {{#each courses}}
        {{! Use HBS helper function to customize rendering }}
        {{createOptionElement this.name ../project.course}}
      {{/each}}
    </select>
  </fieldset>
  {{! Add fieldset for status }}
  <fieldset>
    <label for="status" class="col-2">
      Status:
    </label>
    {{! <input name="course" id="course" required /> }}
    <select name="status" id="status">
        {{! Use HBS helper function to customize rendering }}
        {{createOptionElement "TO DO" project.status}}
        {{createOptionElement "IN PROGRESS" project.status}}
        {{createOptionElement "DONE" project.status}}
    </select>
  </fieldset>
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>